h1 {
  text-align: center;
}

.userTable {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

mat-header-cell {
  text-align: center;
}

.refresh_button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mat-column-user_scope, .mat-column-obs_control, .mat-column-vod_manage, .mat-column-vod_delete, .mat-column-stats_manage, .mat-column-stats_manage_scene, .mat-column-calendar {
  width: 70px;
  text-align: center;
}

.error_text {
  color:red;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}
