h1 {
  text-align: center;
}

.refresh_button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.error_text {
  color:red;
}

.selected {
  color:blue;
}

.name-change-input {
  width: 250px;
}
