<h1>Gestion des VODs</h1>

<div class="refresh_button">
  <button mat-raised-button (click)="refreshUI()">Refresh</button> &nbsp; &nbsp;
  <span *ngIf="error_text!=undefined" class="error_text">{{error_text}}</span>
</div> <br />

<div class="directoryTree" >
  <button class="tree-action-button" mat-raised-button color="primary" (click)="treeControl.collapseAll()">Collapse all folders</button>
  <button class="tree-action-button" mat-raised-button color="primary" (click)="treeControl.expandAll()">Expand all folders</button>
  
  <mat-tree [dataSource]="treeData" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <mat-icon color="primary" (click)="selectNode(node)" [class.selected]="node === file_selected">videocam</mat-icon>&nbsp;
        <span (click)="selectNode(node)" [class.selected]="node === file_selected">
          {{node.filename}} &nbsp; ({{node.size / 1048576 / 1024 | number:'1.1-2'}} Go)
        </span>
        <span *ngIf="file_selected === node"> &nbsp;
          <button mat-icon-button (click)="editSelect()" *ngIf="deleteConfirmation == undefined"
                  matTooltip="Modifier le nom du fichier."><mat-icon>edit</mat-icon>
          </button>
          <span *ngIf="editSelection != undefined">
             <mat-form-field class="name-change-input">
              <input matInput placeholder="Nouveau nom de fichier" [(ngModel)]="editNewName">
            </mat-form-field>
            <button mat-icon-button (click)="validateEdit()"
                    matTooltip="Valider le changement de nom."><mat-icon>check</mat-icon></button>
            <button mat-icon-button (click)="cancelEdit()"
                    matTooltip="Annuler le changement de nom."><mat-icon>cancel</mat-icon></button>
          </span>
          <button mat-icon-button (click)="moveSelect()"
                  *ngIf="moveSelection != node && deleteConfirmation === undefined && editSelection === undefined"
                  matTooltip="Sélectionner ce fichier pour déplacement."><mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteSelection()"
                  *ngIf="editSelection === undefined && userService.hasScope('vod_delete')"
                  matTooltip="Supprimer ce fichier."><mat-icon>delete</mat-icon></button>
          <span *ngIf="deleteConfirmation != undefined">Confirmer suppression
            <button mat-icon-button (click)="validateDelete()"
                    matTooltip="Valider la suppression."><mat-icon>check</mat-icon></button>
            <button mat-icon-button (click)="cancelDelete()"
                    matTooltip="Annuler la suppression."><mat-icon>cancel</mat-icon></button>
          </span>
        </span>
      </li>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when hasNestedChild" >
      <li>
        <div class="mat-tree-node" >
      	  <button mat-icon-button matTreeNodeToggle>
        	<mat-icon [class.selected]="node === file_selected" (click)="selectNode(node)" >{{treeControl.isExpanded(node) ? "folder_open" : "folder"}}</mat-icon>
          </button>
          <span [class.selected]="node === file_selected" (click)="selectNode(node)">{{node.filename}}</span>
            <span *ngIf="file_selected === node"> &nbsp;
              <button mat-icon-button (click)="createNewDirectory()" *ngIf="userService.hasScope('vod_delete')"
                      matTooltip="Créer un nouveau dossier."><mat-icon>add</mat-icon>
              </button>
              <span *ngIf="newDirectoryName != undefined">
                <mat-form-field class="name-change-input">
                  <input matInput placeholder="Nom du nouveau dossier" [(ngModel)]="newDirectoryName">
                </mat-form-field>
                <button mat-icon-button (click)="validateNewDirectory()"
                        matTooltip="Valider le nouveau dossier."><mat-icon>check</mat-icon></button>
                <button mat-icon-button (click)="cancelNewDirectory()"
                        matTooltip="Annuler le nouveau dossier."><mat-icon>cancel</mat-icon></button>
              </span>

              <button mat-icon-button (click)="moveDrop()" *ngIf="moveSelection != undefined && newDirectoryName === undefined"
                      matTooltip="Déplacer la selection dans ce dossier."><mat-icon>arrow_downward</mat-icon></button>
              <button mat-icon-button
                      *ngIf="node.children.length === 0 && newDirectoryName === undefined && userService.hasScope('vod_delete')"
                      (click)="deleteSelection()"
                      matTooltip="Supprimer ce dossier."><mat-icon>delete</mat-icon></button>
              <span *ngIf="deleteConfirmation != undefined">Confirmer suppression
            <button mat-icon-button (click)="validateDelete()"
                    matTooltip="Valider la suppression."><mat-icon>check</mat-icon></button>
            <button mat-icon-button (click)="cancelDelete()"
                    matTooltip="Annuler la suppression."><mat-icon>cancel</mat-icon></button>
              </span>
            </span>
        </div>
        <ul [class.collapsed]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>

  </mat-tree>
</div>
