.error_text {
  color:red;
}

.refresh_button, .playlist_buttons , .playlist_files_buttons{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.playlist_live, .playlist_files {

}

.selected {
  color:blue;
}

.hidden {
  display: none;
}
