.container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.sidenav-container {
  display:  flex;
  flex-direction: row;
  flex-grow:  1;
}

.toolbar {
  flex-shrink: 0;
  flex-grow: 0;
}

.sidenav {
  width: 150px;
  border-right: #bebebe 1px solid;
  flex-shrink: 0;
  flex-grow: 0;
}

.content {
  padding: 15px;
  flex-grow:  1;
}
