.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  display:  flex;
  flex-direction: row;
  flex-grow:  1;
}

.sidenav {
  width: 150px;
  border-right: #bebebe 1px solid;
}

.content {
  padding: 15px;
  flex-grow:  1;
}
