
<mat-nav-list>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/index" routerLinkActive="active">Index</a>
  <mat-divider *ngIf="userService.hasScope('user_scope') || userService.hasScope('obs_control') || userService.hasScope('vod_manage')"></mat-divider>
  <a mat-list-item *ngIf="userService.hasScope('user_scope')" routerLink="/user_scope" routerLinkActive="active">Users</a>
  <a mat-list-item *ngIf="userService.hasScope('obs_control')" routerLink="/obs_control" routerLinkActive="active">OBSControls</a>
  <a mat-list-item *ngIf="userService.hasScope('vod_manage')" routerLink="/vod_manage" routerLinkActive="active">VODManage</a>
  <mat-divider *ngIf="userService.hasScope('stats_manage') || userService.hasScope('stats_manage_scene')"></mat-divider>
  <a mat-list-item *ngIf="userService.hasScope('stats_manage')" routerLink="/stats_csv" routerLinkActive="active">Stats CSV</a>
  <a mat-list-item *ngIf="userService.hasScope('stats_manage')" routerLink="/stats_global" routerLinkActive="active">Stats Global</a>
  <a mat-list-item *ngIf="userService.hasScope('stats_manage_scene')" routerLink="/stats_scene" routerLinkActive="active">Stats Scene</a>
  <mat-divider></mat-divider>
</mat-nav-list>
