h1 {
  text-align: center;
}

.csv_input {
  width: 75%;
}


.div-centered{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.error_text {
  color:red;
}

th, td {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

.img-preview {
  width: 75%;
  height: auto;
}
