<div *ngIf="!userService.isLogged()">
  Connectez vous avec Steam. <button mat-raised-button (click)="login()">Login</button>
</div>

<div *ngIf="userService.isLogged()">
  Vous êtes connecté avec le SteamID(64bits) suivant: {{userService.steam_id}} <br />
  <span *ngIf="userService.scopes.length != 0">Vous avez accès aux droits suivants: <span *ngFor="let scope of userService.scopes">{{scope}} </span></span>
  <span *ngIf="userService.scopes.length === 0">Vous n'avez accès à aucun droit.</span>

  <br /><br /><button mat-raised-button (click)="logout()">Logout</button>
</div>

