<h1>Index</h1>

<div *ngIf="!userService.isLogged()">
  <div>
    Les fonctionnalités sont disponibles en vous connectant avec Steam.
  </div>

  <br />

  <div class="div-centered">
    <button mat-raised-button (click)="login()">Login</button>
  </div>
</div>

<div *ngIf="userService.isLogged()">
  <div>
    Vous êtes connecté avec le SteamID(64bits) suivant: {{userService.steam_id}} <br /> <br />
    <span *ngIf="userService.scopes.length != 0">Vous avez accès aux droits suivants:
      <ul>
        <li *ngFor="let scope of userService.scopes">{{scope}}</li>
      </ul>
    </span>
    <span *ngIf="userService.scopes.length === 0">Vous n'avez accès à aucun droit.</span>
  </div>

  <br />

  <div class="div-centered">
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>
</div>

