<h1>Gestion de la scène de stats</h1>
<div class="div-centered">
  <button mat-raised-button
          (click)="rebuildCalendar()">Reconstruire les calendriers</button> &nbsp; &nbsp;
  <span *ngIf="error_text!=undefined" class="error_text">{{error_text}}</span>
</div> <br />

<div class="div-centered">
  <img class="img-preview" [src]="froggedCurrentWeek"> &nbsp; &nbsp;
  <img class="img-preview" [src]="froggedNextWeek">
</div> <br />

<div class="div-centered">
  <img class="img-preview" [src]="artifactCurrentWeek"> &nbsp; &nbsp;
  <img class="img-preview" [src]="artifactNextWeek">
</div> <br />
